{{> nav/savednav}}
<div class="container" id="wrapper">
    <div class="row heading">
        <div class="col">
            <div class="jumbotron text-center">
                <div class="overlay">
                    <div>
                        <div class="background-image"></div>
                        <div class="caption">
                            <h1> Saved Articles</h1>
                            <p> CNET News</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> {{!end of col}}
    </div> {{!end of heading row}}
    <div class="row results">
        <div class="col" id="scrapedarticles">
            <div class="container-fluid article-container">
                {{#each Headline}}
                {{#if this.saved}}
                <div class="media articles">
                    {{!-- <img class="mr-3" src="..." alt="Generic placeholder image"> --}}
                    <div class="media-body">
                        <p class="mt-0">{{this.title}}</p>
                        <p><a href="{{this.link}}">Go to Article</a></p>
                        <form action="/unsaveheadlines/{{this.id}}?_method=PUT" method="POST">
                            <button class="btn btn-outline-danger my-2 my-sm-0 remove-fav" type="submit"
                                data-id="{{this._id}}">Remove from favorites</button>
                        </form>
                        <hr>
                    </div>
                    <div class="col" id="article-notes{{this._id}}">
                        <h5>Comments</h5>
                        {{#if this.note}}
                        <p data-noteid="{{this._id}}">{{data.note.body}}</p>
                        <button class="close-button" id="{{this._id}}">
                            X
                        </button>
                        {{/if}}
                    </div>
                    <div class="col" id="commentform{{this._id}}">
                        <button class="btn btn-outline-success my-2 my-sm-0 float-right addcomment"
                            id="addcomment{{this._id}}" type="submit" data-id="{{this._id}}">Add a comment <i
                                class="fas fa-comments"></i></button>
                        <br>
                        <form class="commentform hide" id={{this._id}}>
                            <p></p>
                            <div class="form-group">
                                {{!-- <label for="comment">Comments</label> --}}
                                <input type="text" class="form-control" id="comment{{this._id}}"
                                    aria-describedby="commentHelp" placeholder="Enter comments">
                            </div>
                            <button type="submit" class="btn btn-outline-primary my-2 my-sm-0 float-right"
                                data-id="{{this._id}}" id="savenote{{this._id}}">Save
                                Comment</button>
                        </form>
                    </div>
                </div>
                {{/if}}
                {{/each}}

            </div>
        </div>{{!end of col}}
    </div> {{!end of articles row}}
</div>{{!end of wrapper}}
{{> footer/footer}}
{{!-- Modal to add comment --}}


<!-- Modal -->
<div id="commentsmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a comment to this article</h4>
            </div>
            <div class="modal-body">
                <form action="/unsaveheadlines/{{this.id}}?_method=PUT" method="POST">
                    <input type=text>
                    <button class="btn btn-outline-primary my-2 my-sm-0 remove-fav" type="submit"
                        data-id="{{this._id}}">Save comment</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="/assets/javascript/index.js"></script>